/* General Document */

html {
  font-size: 18px;
  font-family: sans-serif;
  color: #292928;
}

p {
  line-height: 1.5rem;
}
/* Header */

.header {
  display: flex;
}



/* Navigation */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 64px;
  background-color: white;
}

nav .leftNav {
  display: flex;
  align-items: center;
}

nav .leftNav img {
  padding-left: 24px;
  height: 32px;
}
nav .leftNav p {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
nav .leftNav p span {
  font-weight: 500;
  color: #BAB8BA;
}

nav .rightNav {
  padding-right: 24px;
}

nav .rightNav ul li {
  display: inline-block;
  padding-left: 16px;
}


/*Body Div 3 */

.startLearning {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 32px 72px;
  background-color: #BAB8BA;
}
.startLearning h1 {
  display: block;
  text-align: center;
  width: 100%;
  padding-bottom: 32px;
}
.startLearning .startLearningdiv {
  width: 30%;
  background-color: white;
  margin: 16px;
}
.startLearning .startLearningdiv img {
  width: 100%;
}
.startLearning .startLearningdiv .startLearningdivText {
  padding: 16px;
}
.startLearning .startLearningdiv .startLearningdivText h3 {
  padding: 0px;
}
.startLearning .startLearningdiv .startLearningdivText span {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
}
